In [9]:
import pandas as pd

In [2]:
raw_data = open(r"D:\Artificial_Intelligence\nat_lang_proc\data\SMSSpamCollection.tsv").read()
raw_data[:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [18]:
parsed_data = raw_data.replace("\t", "\n").split("\n")
parsed_data[:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [11]:
labels_list = parsed_data[0::2]
text_list = parsed_data[1::2]

In [8]:
print(labels_list[:5])
print(text_list[:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [15]:
# Creating data frame with labels and text
full_corpus = pd.DataFrame({
    "Label": labels_list[:-1], # Last value is empty so ignoring it
    "Text": text_list
})

In [17]:
full_corpus.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [27]:
# other way do this entire activity is,
full_corpus = pd.read_csv(r"D:\Artificial_Intelligence\nat_lang_proc\data\SMSSpamCollection.tsv", 
            delimiter="\t", header=None)
full_corpus.columns = ["label", "body_text"]
full_corpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [38]:
values = full_corpus["label"].value_counts()
print(f"We have {values['ham']} ham values and {values['spam']} spam values")

We have 4822 ham values and 746 spam values

In [49]:
null_values = full_corpus.isnull().sum()
null_values

label        0
body_text    0
dtype: int64